.ContentContainer {
	height: inherit;
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.FormContainer {
	display: flex;
	height: 30px;
}

.FormInput {
	outline: none; 
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
}

.FormContainer input[type='submit'] {
	margin: 0 0 0 2px;
	width: 30px;	
	outline: none;
	border: none;
	border-radius: 0 5px 5px 0;
	background: #3f66c5;
	color: #fff;

}

.FormContainer input[type='submit']:hover {
	transition: all 100ms linear;
	background: #5c7dd1;
	cursor: pointer;

}

.FormContainer input[type='submit']:active {
	background: #3f66c5;/*
	outline: none;
	border-style: none;*/
}

.Item {
	/*border-left: 1px solid #ccc;*/
	display: flex;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.itemText {
	flex: 1;
	align-self: flex-end;
	padding: 5px;
}

.DeleteButton {
	width: 28px;
	outline: none;
	border: none;
	border-radius: 0 5px 5px 0;
	background: #ff4d53;
	color: #fff;
	margin-left: 2px;
}

.DeleteButton:hover {
	transition: all 100ms linear;
	background: #ff8084;
	cursor: pointer;
}

.DeleteButton:active {

}